PORT=8080
SERVER_ADDRESS=::
DB_URL=jdbc:mysql://${{MySQL.MYSQLHOST}}:${{MySQL.MYSQLPORT}}/${{MySQL.MYSQLDATABASE}}
DB_USERNAME=${{MySQL.MYSQLUSER}}
DB_PASSWORD=${{MySQL.MYSQLPASSWORD}}
DDL_AUTO=update
OPENAI_API_KEY=REPLACE_WITH_YOUR_OPENAI_API_KEY
APP_PUBLIC_BASE_URL=https://${{frontend.RAILWAY_PUBLIC_DOMAIN}}
ALLOWED_ORIGINS=https://${{frontend.RAILWAY_PUBLIC_DOMAIN}}
SESSION_COOKIE_SECURE=true
UPLOAD_DIR=/app/uploads
BREVO_API_KEY=REPLACE_WITH_YOUR_BREVO_API_KEY
BREVO_SENDER_EMAIL=REPLACE_WITH_YOUR_VERIFIED_SENDER_EMAIL
BREVO_SENDER_NAME=Nawall
APIFY_API_TOKEN=REPLACE_WITH_YOUR_APIFY_API_TOKEN
ZOOM_ACCOUNT_ID=REPLACE_WITH_YOUR_ZOOM_ACCOUNT_ID
ZOOM_CLIENT_ID=REPLACE_WITH_YOUR_ZOOM_CLIENT_ID
ZOOM_CLIENT_SECRET=REPLACE_WITH_YOUR_ZOOM_CLIENT_SECRET
ZOOM_HOST_EMAIL=REPLACE_WITH_YOUR_ZOOM_HOST_EMAIL
WHATSAPP_INSTANCE_ID=REPLACE_WITH_YOUR_WHATSAPP_INSTANCE_ID
WHATSAPP_TOKEN=REPLACE_WITH_YOUR_WHATSAPP_TOKEN
